<!DOCTYPE html>
<html lang="en">

<head style="min-width: 650px;">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="AddDoctor.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Patient</title>

</head>

<body>

    
    <section>
        <section>
<% const att = ['Username','Password','First Name','Middle Name','Last Name','Email','Address','SSN','Phone Personal','Phone Family_1','Phone Family_2','Gender','SSN','Diabetes','High Cholesterol','Smoking','Drink Alcohol','Exercise','Have children','Other health conditions']
            ; %> 

            <% let x = 2; %> 
            <button id="btnAddPat">Add</button>
            <span id="errormsg"></span>
            <div class="user-name" >
                <span> 
                    <label >Username :</label>
                    <input maxlength="60" class="aaa" required type="text" id="username" placeholder="Username">
                </span>
                <span> 
                    <label >Password :</label>
                    <input maxlength="90" class="aaa" required type="text" id="password" placeholder="Password">
                </span>
            </div>

            <div class="main-cont">
                <% let m = x; %> 
                <% for(let j = x;j< att.length-1;j++){ %>
                    <% if(att[j] != "Gender" && j < 11){ %>
                        <span > 
                            <label ><%=att[j]%> :</label>
                            <input required 
                            maxlength="199"
                            type="<%= (att[j] == "Birth Date")?"date":(att[j] == "Salary")?"number":"text" %>" 
                            id="<%=att[j].toLowerCase().replace(' ', '')%>" 
                            placeholder="<%= att[j] %>"
                            <%= (att[j] == "Salary") ? `min = 1 value = 1 step=0.01`: `` %> >
                        </span> 
                    <% } else if(att[j] == "Gender" || j > 11) {%>
                        <span>
                            <label><%= att[j] %>  :</label>
                            <select class="selection" id="<%=att[j].toLowerCase().replace(' ', '')%>">
                                <option value="1"><%= (att[j] == "Gender")?"Male":"Yes" %> </option>
                                <option value="0"><%= (att[j] == "Gender")?"Female":"No" %></option>
                            </select>
                        </span>
                    <% } %>   
                <% } %> 
            </div>
            <div class="othercond">
                <span class = "othercond">
                    <label>Have Other health conditions?</label>
                    <textarea maxlength="3999"  class="othercondtxt" rows="4" cols="50" type="text" id="otherconditions" placeholder="any other conditions?"></textarea>
                </span>
            </div>
        </section>
    </section>
    <script>
        
        document.getElementById('btnAddPat')
        .addEventListener("click",(eo)=>{
            eo.preventDefault();
            let map1 = new Map();
            const inputs = document.getElementsByTagName("input");
            let chk = true;
            
            for(let i=0;i<inputs.length;i++){
                if(inputs[i].id != "btnAddPat"){
                    if(inputs[i].value != ''){
                        map1.set(inputs[i].id, inputs[i].value);
                        inputs[i].style.border = "none";
                    } else {
                        chk = false;
                        inputs[i].style.border = "2px solid red";
                        inputs[i].focus();
                        break;
                    }
                }
            }
            
            if(chk){
                
                let select = document.getElementsByTagName("select");
                for(let i =0;i<select.length;i++){
                    map1.set(select[i].id,select[i].value);
                }
                map1.set('conditions',document.getElementById("otherconditions").value);
                const options = {
                    method: 'POST',
                    body: JSON.stringify(Object.fromEntries(map1)),
                    headers: new Headers({ 'Content-Type': 'application/json' })
                }
                fetch('/new-patient',options)
                .then(response => response.json())
                .then((reply) => {
                    if(!reply.reply)
                        document.getElementById('errormsg').innerHTML = "username is already taken!";
                    else{
                        window.location.replace(reply.link);
                    }
                });
            }
            
        });
    </script>
</body>

</html>